@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
  background-color: white;
  display: flex;
  justify-content: center;

}

#grid {
  margin-top: 4.5rem;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;

}

/* .roll-images {
  background: 50% 50% no-repeat;
  border: 10px solid red;
  width: 100px;
  height: 600px;
  z-index: 1;
} */

img {
    background: 50% 50% no-repeat;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.header {
  position: fixed;
  background-color: #F9F9F9;
  opacity: 90%;
  width: 150vw;
  height: 5rem;
  z-index: 5;
  top: -5px;
}

.footer {
  position: fixed;
  background-color: white;
  opacity: 95%;
  width: 150vw;
  height: 2.5rem;
  z-index: 5;
  bottom: 0vh;
}

p {
  position: fixed;
  font-family: 'Roboto', sans-serif;
  z-index: 6;
}

#time {
  position: fixed;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: black;
  z-index: 7;
}

.camera-roll {
  font-weight: 400;
  font-size: 28px;
  color: black;
  top: 8px;
}

a {
  position: fixed;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.back {
  font-weight: 300;
  color: #007aff;
  left: 4vw;
  top: 40px;
  z-index: 6;
  font-size: 20px;
}

.select {
  font-weight: 300;
  left: 92vw;
  top: 20px;
  font-size: 20px;
  color: #007aff;
}

.number {
  color: black;
  font-weight: 500;
  top: 96vh;
  z-index: 7;
}

@media (max-width: 680px) {

  .camera-roll {
    font-weight: 400;
    font-size: 21px;
    color: black;
    top: 1.3rem;
  }

  .header {
    position: fixed;
    background-color: #F9F9F9;
    opacity: 90%;
    width: 102vw;
    height: 5rem;
    z-index: 5;
    top: -5px;
  }

  .back {
    font-weight: 300;
    color: #007aff;
    left: 4.3vw;
    top: 46px;
    z-index: 6;
    font-size: 15px;
  }

  .select {
    font-weight: 300;
    left: 85vw;
    top: 31px;
    font-size: 15px;
    color: #007aff;
  }

  .number {
    color: black;
    font-weight: 500;
    top: 97.5vh;
    z-index: 7;
  }

  img {
      background: 50% 50% no-repeat;
      width: 95px;
      height: 95px;
      object-fit: cover;
  }

  #grid {
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: 95px 95px 95px 95px;
    grid-template-rows: 95px 95px 95px 95px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
  }
}
