body {
  background-color: white;
  display: flex;
  justify-content: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: repeat(20, 10rem;
}

.roll-images {
  max-width: 10rem;
}

.header {

}
